numpy==1.26.4
pandas==2.1.4
scikit-learn>=1.8.0
joblib==1.4.2
scipy==1.11.4
streamlit==1.45.1
xgboost==2.0.3
tqdm==4.67.1
transformers==4.38.2
torch>=2.2.0,<2.5.0
tensorflow==2.15.0
matplotlib>=3.8.0
seaborn>=0.13.0